<div class="card" id="contform">
    <div class="card-body ">
        <h2 id="titulo">FORMULARIO DE CONTACTO</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
            <div class="form-group">

                <input type="text" class="form-control inputForm" formControlName="name" placeholder="Cual es tu Nombre?"/>
                <div class="alert alert-danger" *ngIf="name.invalid &&(name.dirty || name.touched) ">
                    <div  class="container-error-message" *ngIf="name.errors.required" >
                        El nombre es Requerido!
                    </div>
                    <div  class="container-error-message" *ngIf="name.errors.minlength" >
                        El Nombre debe ser mayor a 5 catracteres
                    </div>
                </div>
                
                <input type="text" class="form-control inputForm" formControlName="email" placeholder="Di cual es tu Email?"/>
                <div class="alert alert-danger" *ngIf="email.invalid &&(email.dirty || email.touched) ">
                    <div  class="container-error-message" *ngIf="email.errors.required" >
                        El Email es Requerido!
                    </div>
                    <div  class="container-error-message" *ngIf="email.errors.minlength" >
                        El Email debe ser mayor a 5 catracteres
                    </div>
                    <div  class="container-error-message" *ngIf="(email.dirty || email.touched) &&
                    email.invalid && email.errors.pattern" >
                        Email Invalido
                    </div>
                </div>
                
                
                <textarea class="form-control inputForm" formControlName="message" placeholder="Pregunta lo que Necesites"  ></textarea>
                <div class="alert alert-danger" *ngIf="message.invalid &&(message.dirty || message.touched) ">
                    <div  class="container-error-message" *ngIf="message.errors.required" >
                        El Mensaje es Requerido!
                    </div>
                    <div  class="container-error-message" *ngIf="message.errors.minlength" >
                        El Mensaje debe ser mayor a 10 catracteres
                    </div>
                    <div  class="container-error-message" *ngIf="message.errors.maxlength" >
                        El Mensaje debe ser menor a 100 catracteres
                    </div>
                </div>
               
               
                <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Send</button>
            </div>  
                             
        </form>

    </div>
</div>
