#titulo{
    margin-bottom: 10px;
}
#cursosform{
    width: 30%;
    margin: 35px auto;
    background: #f8f9fa;
}
.inputForm {
    margin-bottom: 10px;
}

.red {
    color: black !important;
}

.blue {
    color: black !important;
}
.mostrar{
    display: inline-block !important;
}
.ocultar{
    display: none !important;
}