
<h2 [ngClass]="{
    'red': type==0,
    'blue': type==1
    }">
        {{ typeView }}
</h2>
<form [formGroup]="cursosForm">
    <div class="form-group">
        
        <input type="text" class="form-control inputForm" formControlName="instructor" placeholder="Indique su Nombre"/>
        <div class="alert alert-danger" *ngIf="instructor.invalid &&(instructor.dirty || instructor.touched)">
            <div  class="container-error-message" *ngIf="instructor.errors.required" >
                El nombre es Requerido!
            </div>s
            <div  class="container-error-message" *ngIf="instructor.errors.minlength" >
                El nombre debe ser mayor a 10 catracteres
            </div>
        </div>
 
        <input type="text" class="form-control inputForm" formControlName="curso" placeholder="Indique el Curso"/>
        <div class="alert alert-danger" *ngIf="curso.invalid &&(curso.dirty || curso.touched) ">
            <div  class="container-error-message" *ngIf="curso.errors.required" >
                El Curso es Requerido!
            </div>
            <div  class="container-error-message" *ngIf="curso.errors.minlength" >
                El Curso debe ser mayor a 1 catracter
            </div>
        </div>

        <input type="text" class="form-control inputForm" formControlName="pagina" placeholder="Indique su pagina Web"/>
        <div class="alert alert-danger" *ngIf="pagina.invalid &&(pagina.dirty || pagina.touched) ">
            <div  class="container-error-message" *ngIf="pagina.errors.required" >
                La Pagina Web es Requerida!
            </div>
            <div  class="container-error-message" *ngIf="pagina.errors.minlength" >
                La Pagina debe ser Mayor a 10 Caracteres
            </div>
        </div>




        <button type="submit" class="btn btn-primary" (click)="onSaveCursForm()" [disabled]="!cursosForm.valid"  >{{save}}</button>
        &nbsp;
        <button type="submit" class="btn btn-secondary" (click)="onResetCursForm()" >Limpiar</button>
        &nbsp;
        <button type="submit" class="btn btn-danger"  (click)="clear()" >Cancelar</button>
    </div>
</form>
