<div id="content-boton-nuevo">
    <div class="titulo">
        <h2>REGISTRO DE CURSOS</h2></div>
    <div class="boton-nuevo">
    <button id="nuevo" type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
        &nbsp;
        <span class="nombre-boton" (click)="ver(cursoModal)">Nuevo</span>
    </button></div>
    
</div>
<div class="card" id="content-cursos">
    <div class="card-body ">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">instructor</th>
                <th scope="col">Cursos</th>
                <th scope="col">Pagina</th>
                <th scope="col" >Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of cursos ">
                <th scope="row">{{curso.numero}}</th>
                <td>{{curso.instructor}}</td>
                <td>{{curso.curso}}</td>
                <td>{{curso.pagina}}</td>
                <td class="botonera-cursos">
                    <button type="button" (click)="edit(curso)" class="btn btn-success btn-sm">
                        <i class="fas fa-edit"></i>
                        &nbsp;
                        <span>Modificar</span>
                    </button>
                    &nbsp;
                    <button type="button" (click)="ValidaModal(validaEliminar,curso)" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                        &nbsp;
                        <span>Eliminar</span>
                    </button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 

<ng-template #cursoModal>
  <div class="card" id="content-cursos">
    <div class="card-body ">
        <formcurso (registro)="clear($event)"></formcurso>
    </div>
  </div>

</ng-template>

<ng-template #validaEliminar>
    <h1 mat-dialog-title>Esta seguro de Eliminar el Siguiente Item</h1>
                <div mat-dialog-content>
                </div>
    <div>
        <button class="btn btn-success btn-sm" (click)="delete()">Aceptar</button>
        &nbsp;
        <button class="btn btn-danger btn-sm"  (click)="onclose()">Cancelar</button>
    </div>
        
</ng-template>
      