div#content-boton-nuevo {
    width: 90%;
    margin: 30px auto 30px; 
}
.titulo{
    text-align: left;
}
.boton-nuevo{
    text-align: right;
    margin-top: -47px;
    
}

span.nombre-boton {
    font-size: larger;
    font-weight: bold;
}


div#content-cursos {
    width: 90%;
    margin: 30px auto 30px;
    background: #f8f9fa
}



td.botonera-cursos {
    width: 250px;
}


