#logo{
    border-radius: 33px;
    box-shadow: 2px 5px 20px -6px rgba(250,245,250,1);
}

h3{
    font-family: sans-serif;
    font-weight: bold;
}

.nav-link {
    font-size: 17px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.nav-link:hover, .active {
    color: rgb(96, 243, 108);
    text-decoration: underline;
}

