<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" id="logo" href="#">
         <H3>SIDIESCA</H3>  
    </a>
    <!-- As a link -->
    <ul class="nav justify-content-end">

        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>  
        </li>

        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>  
        </li>
    </ul>
</nav>
<br>
<!--<contact-form></contact-form>-->

<router-outlet></router-outlet>